
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>Welcome to the store</p>

<ul>
    <li>@Html.ActionLink("Laptop", "Product", "Products", new { @ProductName = "Laptop" }, null)</li>
    <li>@Html.ActionLink("Dekstop", "Product", "Products", new { @ProductName = "Dekstop" }, null)</li>
    <li>@Html.ActionLink("Tablet", "Product", "Products", new { @ProductName = "Tablet" }, null)</li></ul>